In [5]:
#for loop
#for loop runs on iterables and sequences (strings, lists,tuples,dictionaries,sets,range)
#Loop and will run until the sequence is finished

for a in "Programming":    #char='p'
    print(a,end="-")

P-r-o-g-r-a-m-m-i-n-g-

In [8]:
for char in "Programaming":    #char='p'
    if "a"== char:
        print("a is present in Programming")

a is present in Programming
a is present in Programming

In [9]:
grades=[67,90,85,75]
sum1=0
avg=0
n=0
for values in grades:
    sum1+=values    #Augmented Assignment                      sum1=sum1+values
    n+=1            #n=n+1
    
print(sum1)
print(n)
avg=sum1/n

print("The average of all of the course marks is",avg)

317
4
The average of all of the course marks is 79.25

In [10]:
grades=[67,90,85,75]
sum1=sum(grades)
n=len(grades)
avg=sum1/n
print("The average of all of the course marks is",avg)

The average of all of the course marks is 79.25

In [18]:
#range function
#range(start value,stop value,step) positive and negative integers
for i in range(10):    #5  , 14
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
#Table of 12
#12   *     1    =     12
#12   *     2    =     24
for i in range(1,11):            
    print(f"{12:<5} *{i:>5} = {12*i:^5}") # < left alighnment   > right alighnment    ^ centre alighnment

12    *    1 =  12
12    *    2 =  24
12    *    3 =  36
12    *    4 =  48
12    *    5 =  60
12    *    6 =  72
12    *    7 =  84
12    *    8 =  96
12    *    9 =  108
12    *   10 =  120

In [23]:
#Nested for loops
#for loop inside another for loop

for i in range(10):     #0 to 9     i=0
    
    for j in range(11,20):  # 11 to 19    j=11  , j=12  , j=13 , j=20
        print(i,j)
    
print("-"*50)

0 11
0 12
0 13
0 14
0 15
0 16
0 17
0 18
0 19
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
1 19
2 11
2 12
2 13
2 14
2 15
2 16
2 17
2 18
2 19
3 11
3 12
3 13
3 14
3 15
3 16
3 17
3 18
3 19
4 11
4 12
4 13
4 14
4 15
4 16
4 17
4 18
4 19
5 11
5 12
5 13
5 14
5 15
5 16
5 17
5 18
5 19
6 11
6 12
6 13
6 14
6 15
6 16
6 17
6 18
6 19
7 11
7 12
7 13
7 14
7 15
7 16
7 17
7 18
7 19
8 11
8 12
8 13
8 14
8 15
8 16
8 17
8 18
8 19
9 11
9 12
9 13
9 14
9 15
9 16
9 17
9 18
9 19
--------------------------------------------------

In [48]:
#Lets suppose we want tables between 20 to 35   
#Nested for loops    #150 times
for i in range(20,36):    #15 values
    for j in range(1,11):  #10 values
        print(f"{i:>5} {'*':>5} {j:>5} {'=':>5} {i*j:>5}")
    print("-"*50)

   20     *     1     =    20
   20     *     2     =    40
   20     *     3     =    60
   20     *     4     =    80
   20     *     5     =   100
   20     *     6     =   120
   20     *     7     =   140
   20     *     8     =   160
   20     *     9     =   180
   20     *    10     =   200
--------------------------------------------------
   21     *     1     =    21
   21     *     2     =    42
   21     *     3     =    63
   21     *     4     =    84
   21     *     5     =   105
   21     *     6     =   126
   21     *     7     =   147
   21     *     8     =   168
   21     *     9     =   189
   21     *    10     =   210
--------------------------------------------------
   22     *     1     =    22
   22     *     2     =    44
   22     *     3     =    66
   22     *     4     =    88
   22     *     5     =   110
   22     *     6     =   132
   22     *     7     =   154
   22     *     8     =   176
   22     *     9     =   198
   22     *    10     =   220
--------------------------------------------------
   23     *     1     =    23
   23     *     2     =    46
   23     *     3     =    69
   23     *     4     =    92
   23     *     5     =   115
   23     *     6     =   138
   23     *     7     =   161
   23     *     8     =   184
   23     *     9     =   207
   23     *    10     =   230
--------------------------------------------------
   24     *     1     =    24
   24     *     2     =    48
   24     *     3     =    72
   24     *     4     =    96
   24     *     5     =   120
   24     *     6     =   144
   24     *     7     =   168
   24     *     8     =   192
   24     *     9     =   216
   24     *    10     =   240
--------------------------------------------------
   25     *     1     =    25
   25     *     2     =    50
   25     *     3     =    75
   25     *     4     =   100
   25     *     5     =   125
   25     *     6     =   150
   25     *     7     =   175
   25     *     8     =   200
   25     *     9     =   225
   25     *    10     =   250
--------------------------------------------------
   26     *     1     =    26
   26     *     2     =    52
   26     *     3     =    78
   26     *     4     =   104
   26     *     5     =   130
   26     *     6     =   156
   26     *     7     =   182
   26     *     8     =   208
   26     *     9     =   234
   26     *    10     =   260
--------------------------------------------------
   27     *     1     =    27
   27     *     2     =    54
   27     *     3     =    81
   27     *     4     =   108
   27     *     5     =   135
   27     *     6     =   162
   27     *     7     =   189
   27     *     8     =   216
   27     *     9     =   243
   27     *    10     =   270
--------------------------------------------------
   28     *     1     =    28
   28     *     2     =    56
   28     *     3     =    84
   28     *     4     =   112
   28     *     5     =   140
   28     *     6     =   168
   28     *     7     =   196
   28     *     8     =   224
   28     *     9     =   252
   28     *    10     =   280
--------------------------------------------------
   29     *     1     =    29
   29     *     2     =    58
   29     *     3     =    87
   29     *     4     =   116
   29     *     5     =   145
   29     *     6     =   174
   29     *     7     =   203
   29     *     8     =   232
   29     *     9     =   261
   29     *    10     =   290
--------------------------------------------------
   30     *     1     =    30
   30     *     2     =    60
   30     *     3     =    90
   30     *     4     =   120
   30     *     5     =   150
   30     *     6     =   180
   30     *     7     =   210
   30     *     8     =   240
   30     *     9     =   270
   30     *    10     =   300
--------------------------------------------------
   31     *     1     =    31
   31     *     2     =    62
   31     *     3     =    93
   31     *     4     =   124
   31     *     5     =   155
   31     *     6     =   186
   31     *     7     =   217
   31     *     8     =   248
   31     *     9     =   279
   31     *    10     =   310
--------------------------------------------------
   32     *     1     =    32
   32     *     2     =    64
   32     *     3     =    96
   32     *     4     =   128
   32     *     5     =   160
   32     *     6     =   192
   32     *     7     =   224
   32     *     8     =   256
   32     *     9     =   288
   32     *    10     =   320
--------------------------------------------------
   33     *     1     =    33
   33     *     2     =    66
   33     *     3     =    99
   33     *     4     =   132
   33     *     5     =   165
   33     *     6     =   198
   33     *     7     =   231
   33     *     8     =   264
   33     *     9     =   297
   33     *    10     =   330
--------------------------------------------------
   34     *     1     =    34
   34     *     2     =    68
   34     *     3     =   102
   34     *     4     =   136
   34     *     5     =   170
   34     *     6     =   204
   34     *     7     =   238
   34     *     8     =   272
   34     *     9     =   306
   34     *    10     =   340
--------------------------------------------------
   35     *     1     =    35
   35     *     2     =    70
   35     *     3     =   105
   35     *     4     =   140
   35     *     5     =   175
   35     *     6     =   210
   35     *     7     =   245
   35     *     8     =   280
   35     *     9     =   315
   35     *    10     =   350
--------------------------------------------------